* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: #000;
}

hr {
  width: 98%;
  color: #47cfac;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
header nav .nav-logo-container {
  margin-left: 30px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
header nav .profile-link a {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  border-bottom: 1px solid #000;
}
header nav .profile-link a i {
  margin: 0 auto;
  font-size: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #47cfac;
}
header nav .profile-link a p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.7rem;
  font-weight: 800;
}

main {
  display: table-cell;
  width: 100%;
  height: 100%;
}
main picture {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  padding: 8px;
}
main picture img {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
main picture h1 {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 10px 25px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 75px;
}
main picture .boton {
  display: inline-block;
  width: 150px;
  height: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 40px;
  z-index: 1;
  border: none;
  background-color: #47cfac;
}
main picture .boton a {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
  font-family: "Roboto Slabs", sans-serif;
  font-weight: 800;
}

.blogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[5];
      grid-template: repeat(3, 1fr)/repeat(5, 1fr);
  padding: 15px;
  overflow: scroll;
}
.blogs .principal-blog {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #cccccc;
}
.blogs .principal-blog .principal-blog-img__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: auto;
  margin-left: 30px;
  padding-bottom: 30px;
}
.blogs .principal-blog .principal-blog-img__content h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5%;
  text-transform: uppercase;
  font-family: "Roboto mono", monospace;
}
.blogs .principal-blog .principal-blog-img__content img {
  width: 90%;
  height: 90%;
}
.blogs .principal-blog .principal-blog-content__conteiner {
  width: 70%;
  margin: auto 20px;
}
.blogs .principal-blog .principal-blog-content__conteiner .content__contenido h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Roboto mono", monospace;
}
.blogs .principal-blog .principal-blog-content__conteiner .content__contenido p {
  margin-bottom: 29px;
  font-size: 1.2rem;
  font-family: "Roboto mono", monospace;
}
.blogs .principal-blog .principal-blog-content__conteiner .content__contenido a {
  border: 2px solid #47cfac;
  padding: 10px 15px;
  font-family: "Roboto mono", monospace;
}

.blogpost--container {
  width: 90%;
  margin: 0 auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  font-family: "Roboto mono", monospace;
}
.blogpost--container h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0;
}
.blogpost--container hr {
  border: 1px solid #47cfac;
  margin-bottom: 15px;
}
.blogpost--container .main-blogs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}
.blogpost--container .main-blogs .box-s .box_img {
  width: auto;
  height: auto;
}
.blogpost--container .main-blogs .box-s .box_img img {
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 90%;
}
.blogpost--container .main-blogs .box-s p {
  margin: 20px 0;
}
.blogpost--container .main-blogs .box-s a {
  padding: 10px 5px;
  border: 1px solid #47cfac;
  margin: 10px 0;
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 5px;
  overflow: scroll;
}

.blog-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.blog-container .blog--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog-container .blog--img img {
  width: 90%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.blog-container .blog--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin: 25px 100px;
}
.blog-container .blog--content h2, .blog-container .blog--content p {
  margin-bottom: 20px;
}
.blog-container .blog--content .blog__cabeza {
  font-family: "Roboto mono", monospace;
  text-transform: uppercase;
  padding-left: 25px;
}
.blog-container .blog--content .content__text {
  font-family: "Roboto mono", monospace;
  padding: 25px 50px;
}
.blog-container .blog--content .content__text h2 {
  font-size: 35px;
}
.blog-container .blog--content .content__contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.blog-container .blog--content .content__contact .box-m {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #cccccc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 15px;
  font-family: "Roboto mono", monospace;
}
.blog-container .blog--content .content__contact .box-m img {
  width: 100px;
  height: 100px;
}
.blog-container .blog--content .content__contact .box-m .text-area {
  margin: auto;
  margin-left: 20px;
}
.blog-container .blog--content .content__contact .box-m .text-area a {
  border-bottom: solid 1px #242423;
}
.blog-container .blog--content .content__contact .box-m .text-area p {
  margin-top: 10px;
}

.foot {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-color: #242423;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  border-top: 20px solid #47cfac;
}

footer {
  width: 100%;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
footer .header-incons-container {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}
footer .header-incons-container .icons {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 60px;
  margin-top: -23px;
  gap: 20px;
}
footer .header-incons-container .icons a {
  margin-right: 10px;
}
footer .header-incons-container .icons a i {
  color: #fff;
}