* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: #000;
}

hr {
  width: 98%;
  color: #47cfac;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
header nav .nav-logo-container {
  margin-left: 30px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
header nav .profile-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  border-bottom: 1px solid #000;
}
header nav .profile-link a i {
  margin: 0 auto;
  font-size: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #47cfac;
}
header nav .profile-link a p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.7rem;
  font-weight: 800;
}

main {
  display: table-cell;
  width: 100%;
  height: 100%;
}
main picture {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  padding: 10px;
}
main picture img {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
main picture h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 25px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 75px;
}
main picture .boton {
  display: inline-block;
  width: 100px;
  height: 35px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  z-index: 1;
  border: none;
  background-color: #47cfac;
}
main picture .boton a {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #fff;
  font-family: "Roboto Slabs", sans-serif;
  font-weight: 800;
}

footer {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-top: 10px;
}
footer .header-incons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}
footer .header-incons-container .icons {
  width: 210px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
footer .header-incons-container .icons i {
  color: #fff;
}