//- vars
-var content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptas repellendus quis similique beatae illum molestias nobis no omnis ? Ex.Ut minus."

-var title = "Titulo del Blogspot"

//- mixins

mixin boxes-s(imagen,titulo,contenido)
  .box-s
    .box_img: img(src="../css/img-acets/"+imagen)
    .box_content
      h2=titulo
      p=contenido
      a(href="/") Leer más.