footer
  .foot
    p Lorem ipsum dolor sit amet consectetur, adipisicing .fuga?
  section.header-incons-container
    .icons 
      a(href="/")
        i(class="fab fa-facebook")           
      a(href="/") 
        i(class="fab fa-twitter")           
      a(href="/") 
        i(class="fab fa-instagram")           
      a(href="/") 
        i(class="fab fa-linkedin")           
      a(href="/") 
        i(class="fab fa-youtube")           