header
  nav         
    section.nav-logo-container
      a(href="index.html"): img(src="../css/img-acets/logo-negro.webp", alt="Mi logo personal")
    section.profile-link
      a(href="perfil.html")
        i(class="fas fa-user-secret") 
        p About me!