extend componentes/plantilla.pug
block contenido
  hr
  main.blogs
    section.principal-blog
      .principal-blog-img__content
        h2 Noticias
        img(src="../css/img-acets/principal-blogs.png", alt="es una conputadora")
      .principal-blog-content__conteiner
        .content__contenido
          h2=title
          p=content
          a(href="/") Leer más!
    //-Section 2nd
    section.blogpost--container
      h2 Ultimos blogpost
      hr
      .main-blogs
        +boxes-s("post-1.png", title, content)
        +boxes-s("post-2.png", title, content)
        +boxes-s("post-3.png", title, content)
        +boxes-s("post-1.png", title, content)
        +boxes-s("post-2.png", title, content)
        +boxes-s("post-3.png", title, content)