extend componentes/plantilla.pug
block contenido
  hr
  main
    <img class="img__home", src="../css/img-acets/back.jpg", alt="fondo imagen"/>
    h1  Conose las novedades y noticias del mundo tech.
    button.boton: a(href="blogs.html") Entra ahora!