extend componentes/plantilla.pug
block contenido
  hr
  main.home-main
    section
      img(src="../css/img-acets/web.jpg", alt="Es una moto de fondo")
      h1.home-main-text= text_main
      a.home-main-button(href="../html/blogs.html") Entra ya!