extend componentes/plantilla.pug
block contenido
  main.profile--content
    section.profile--content__presentacion
      .presentacion__img
        img(class="img__profile", src="../css/img-acets/profile-pic.webp", alt="foto-personal-de-medio-cuperpo")
      .presentacion__text
        h1.presentacion__title Hello!
        p=content_m
    section.profile--content__proyect
      .proyect__porcentaje
        h1.porcentaje__title Skills!
        .conteiner__cards
          +barra-pro("80","Html")
          +barra-pro("30","JS")
          +barra-pro("60","GrphQl")
      .proyect__list-proyect
        h1.proyect__title Proyects!
        .conteiner__proyects
          +proyect-card("Random-app")
          +proyect-card("Random-app")
          +proyect-card("Random-app")
    section.profile--content__contact
      +boxe-m("letter.png", "Contactame!")
      +boxe-m("heart.png", "Escriveme!")