doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    title Document
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
  body 
    header
      nav         
        section.nav-logo-container
          a(href="/", ): img(src="../css/img-acets/logo-negro.webp", alt="Mi logo personal")
        section.profile-link
          a(href="perfil.html")
            i(class="fas fa-user-secret") 
            p About me!
  hr
  main
    picture
      //-
        source(media="(min-width:1000px)", srcset="../css/fondo/grande-1.jpg")
        source(media="(min-width:500px)", srcset="../css/fondo/medium-1.jpg")
      <img src="../css/img-acets/cover-2.jpg", alt="fondo imagen"/>
       h1  Conose las novedades y noticias del mundo tech.
       button.boton: a(href="/") Entra ahora!
  footer
    section.header-incons-container
      .icons 
        a(href="/")
          i(class="fab fa-facebook")           
        a(href="/") 
          i(class="fab fa-twitter")           
        a(href="/") 
          i(class="fab fa-instagram")           
        a(href="/") 
          i(class="fab fa-linkedin")           
        a(href="/") 
          i(class="fab fa-youtube")           