.blog-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  padding: 5px;
  overflow: scroll;
  .blog--img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    img {
      width: 90%;
      height: 100%;
      align-self: center;
    }
  }
  .blog--content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 25px 100px;
    h2,p{
      margin-bottom: 20px;
    }
    .blog__cabeza {
      font-family: 'Roboto mono', monospace;
      text-transform: uppercase;
      padding-left: 25px;
    }
    .content__text {
      font-family: 'Roboto mono', monospace;
      padding: 25px 50px;
      h2 {
        font-size: 35px;
      }
    }
    .content__contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .box-m {
        display: inline-flex;
        background-color: $color-fondo;
        justify-content: center;
        padding: 25px 15px;
        font-family: 'Roboto mono', monospace;
        img {
          width: 100px;
          height: 100px;
        }
        .text-area {
          margin: auto;
          margin-left: 20px;
          a {
            border-bottom: solid 1px $color-fondo2;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}