.blogpost--container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  grid-column: 1/4;
  font-family: 'Roboto mono', monospace;
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
  }
  hr {
    border: 1px solid $grupo1-primario;
    margin-bottom: 15px;
  }
  .main-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    gap: 25px;
    .box-s {
      .box_img {
        width: auto;
        height: auto;
        img {
          background-size: contain;
          background-position: center;
          width: 100%;
          height: 90%;
        }
      }
      p {
        margin: 20px 0;
      }
      a {
        padding: 10px 5px;
        border: 1px solid $grupo1-primario;
        margin: 10px 0;
      }
    }
  }
}