.blogs  {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  grid-template-rows: auto;
  padding: 15px;
  overflow: scroll;
  .principal-blog {
    grid-column: 1 / 6; 
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: $color-fondo;
    .principal-blog-img__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 90%;
      height: auto;
      margin-left: 30px;
      padding-bottom: 30px;
      h2 {
        align-self: flex-start;
        margin-left: 5%;
        text-transform: uppercase;
        font-family: 'Roboto mono', monospace;
      }
      img {
        width: 90%;
        height: 90%;
      }
    }

    .principal-blog-content__conteiner {
        width: 70%;
        margin: auto 20px;
      .content__contenido {
        h2 {
          text-transform: uppercase;
          margin-bottom: 20px;
          font-family: 'Roboto mono', monospace;
        }
        p {
          margin-bottom: 29px;
          font-size: 1.2rem;
          font-family: 'Roboto mono', monospace;
        }
        a {
          border: 2px solid $grupo1-primario;
          padding: 10px 15px;
          font-family: 'Roboto mono', monospace;
        }
      }
    }
  }
}
//blogs-post