footer {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  .header-incons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: $grupo1-primario;
    .icons {
      width: 210px;
      height: auto;
      display: flex;
      justify-items: flex-end;
      align-items: center;
      justify-content: space-between;
      justify-self: end;
      margin-right: 50px;
      i {
        color: $grupo1-claro;
      }
    }
  }

}