.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  img {
    position: absolute;
    top: 85px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
    .home-main-text {
      font-size: 30px;
      font-weight: 700px;
      letter-spacing: 10px;
      text-align: center;
      color: $color-claro;
      text-transform: uppercase;
    }
    .home-main-button {
      display: grid;
      align-items: center;
      width: 110px;
      height: 50px;
      background-color: $grupo1-primario;
      color: $color-fondo2;
      text-align: center;
    }
    a {
      font-weight: 700px;
      font-size: 18px;
    }
  }
}