.profile--content__presentacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 4;
  grid-row: 1/2;
  padding: 15px;
  background-color: $color-fondo;
  .presentacion__img {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    .img__profile {
      display: grid;
      border: 1px solid $grupo1-primario;
      width: 80%;
      height: 90%;
      justify-self: flex-end;
    }
  }
  .presentacion__text {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    grid-column: 2fr;
    font-family: 'Roboto mono', monospace;
    align-content: center;
    .presentacion__title {
      margin-bottom: 15px;
      justify-self: baseline;
      color: $grupo1-claro;
    }
    :nth-child(2) {
      font-weight: 700;
    }
  }
}